@model JSPs.Models.BusLine

@{
    ViewBag.Title = "Details";
}

<h4>ПОВЕЌЕ ИНФОРМАЦИИ</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад кон листа", "Index")
</p>
