@model JSPs.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <h2>Hello</h2>
    @{
        string url = ViewBag.imgUrl;
        <img src=@url >
    }


    <h6>Change your account settings</h6>
    <hr />

    <dl class="dl-horizontal">
        <dt>Want to change your password?</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

    </dl>
</div>
