
@{
    ViewBag.Title = "notLogedIn";
}

<h2>ЗА ДА ИЗВРШИТЕ РЕЗЕРВАЦИЈА НА БИЛЕТ МОРА ДА СТЕ НАЈАВЕНИ</h2>

<button value="logIn" onclick="location.href='@Url.Action("Login", "Account")'">Најави се</button>

