@model JSPs.Models.BusStop

@{
    ViewBag.Title = "Delete";
}


<h3>Дали сте сигурни дека сакате да ја избришете постојката?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <div>
        <input type="submit" value="Избриши" class="btn btn-default" /> 
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
           
            @Html.ActionLink("Назад кон листа", "Index")
        </div>
    }
</div>
