@model IEnumerable<JSPs.Models.BusStop>

@{
    ViewBag.Title = "PickEndDestination";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Одбери крајна постојка за @ViewBag.zdrJana</h4>
                <div>
                    <div class="modal-body">
                        <div>
                            @Html.DropDownList("WTF",
                             new SelectList(Model, "ID", "Name"),
                             "Select Stop")
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btnOK" onclick="">OK</button>
                        <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>